.lista_container{
  text-align: center;
}

.lista >li{
  font-size: 30px;
  background-color: rgb(38, 103, 103);
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: .5rem;
  padding: 1rem;
  border-radius: 1rem;
  text-align: center;
}

.lista{
  display: flex;
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Cria 3 colunas com largura igual */
  gap: 20px; /* Espaçamento entre os itens do grid */
  margin-right: 15px;
  margin-left: 0px;

}

.lista >img{
  width: 10px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Cria 3 colunas com largura igual */
  gap: 10px; /* Espaçamento entre os itens do grid */
}
